/* styles.css */

.register {
    height: 100vh;
  }
  
  .register__wrapper {
    height: 100%;
  }
  
  .register__details {
    max-width: 70rem;
    margin: 0 auto;
  }
  
  .register__details--logo {
    height: 30%;
    width: 30%;
    margin-bottom: 0.5rem;
  }
  
  .register__details--logo > img {
    height: 50%;
    width: 50%;
  }
  
  .register__layout {
    background-color: #c9dbf3;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .register__layout--image {
    height: 79.5rem;
    width: 62.7rem;
  }
  
   /* styles.css */

/* styles.css */

/* .register {
  height: 100vh;
}

.register__wrapper {
  height: 100%;
}

.register__details {
  max-width: 80rem;
  margin: 0 auto;
}

.register__details--body {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register__details--logo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.register__details--logo > img {
  height: 100%;
  width: auto;
}

.register__layout {
  background-color: #f0f0f0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register__layout--image {
  display: none; s
} */

.customer_wrap{
  grid-template-columns: repeat(4, minmax(0, 1fr)) ;
}